{% extends 'base.html' %}

{% block title %}Breath Collection{% endblock %}

{% block head %}
<style>
  .tab-content input[type="checkbox"] {
  width: 15px;
  margin-right: 15px;  
  }
  .testing1{
      display: flex;
      align-items: center;
  }
  .form-group2 {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;   
      margin-bottom: 15px;
  }
  .form-group3 {
      flex: 1;
      margin: 0 5px;  
      width: 10%;
  }
  .form-group {
      flex: 1;
      margin: 0 5px;  
      width: 10%;
  }
  .short-entry-box{
      width: 100px; 
  }
  .line-through{
      border-bottom: 1px solid black;
      padding-bottom: 10px;
  }
  .bold-and-large{
      font-weight: bold;
      font-size: 20px;
  }
  .form-row {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;   
      margin-bottom: 15px;
  }
  .form-field {
      flex: 1;
      margin: 0 5px;  
      width: 10%;
  }
  .short-entry-box{
      width: 100px; 
  }
  .btn {
      float: right;

  }
  .label-class {
  display: inline-block;
  width: 160px;
  }
  .label-class2 {
  display: inline-block;
  width: 180 px;
  }
  .div-container {
        flex-direction: row;
        padding-right: 35px;

    }
    .div-right{
        padding-right: 25px;
    }
    .yes_no{
        font-weight: bold;
        
        
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
    .button-image {
    width: 75px;
    height: 75px;
  }

  .button-image2 {
      width: 60px;
      height: 60px;
  }

  .right-side {
    position: relative;
    text-align: right;
  }
</style>
{% endblock %}

{% block content %}
  <div id="main">
    <div id="lab_processing" class="dataentry">
        <h1>Breath Collection</h1>
        <div class="print:hidden float-right mb-3">
            <button onclick="window.print();" class="btn-blue btn-sm icon-print" title="Download PDF"></button>
            <a href="{% url 'add_exposure_form' participant_id %}?generate_csv=true" class="btn-blue btn-sm icon-csv" title="Download CSV"></a>
        </div>
        <form method="POST" action="" class="in-line">
            {% csrf_token %}
            <input type="hidden" name="participant_num" value="{{ participant_id }}">
            <div class="form-grid  !grid-cols-4">
                <div class="field">
                    <label class="label-class">{{ form.collection_date.label_tag }}</label>
                    <div class="input">
                        {{ form.collection_date }}
                    </div>
                </div>
                <div class="field">
                    <label class="label-class">{{ form.collection_time.label_tag }}</label>
                    <div class="input">
                        {{ form.collection_time }}
                    </div>
                </div>
                <div class="field">
                    <label class="label-class">{{ form.collected_by.label_tag }}</label>
                    <div class="input">
                        {{ form.collected_by }}
                    </div>
                </div>
                <div class="field">
                    <label class="label-class">{{ form.location.label_tag }}</label>
                    <div class="input">
                        {{ form.location }}
                    </div>
                </div>
            </div>

            <div class="form-grid mt-8">
                <div class="form-grid !grid-cols-3">
                    <div class="field">
                        <label for="{{ form.brush_teeth.id_for_label }}">Brush Teeth:</label>
                        <div class="input input-list">
                            {{ form.brush_teeth.0 }}
                            {{ form.brush_teeth.1 }}
                        </div>
                    </div>
                    <div class="field">
                        <label for="{{ form.brush_teeth_time.id_for_label }}">Brush Teeth Time:</label>
                        <div class="input">
                            {{ form.brush_teeth_time }}
                        </div>
                    </div>
                    <div class="field">
                        <label for="{{ form.mouthwash.id_for_label }}">Mouthwash:</label>
                        <div class="input input-list">
                            {{ form.mouthwash.0 }}
                            {{ form.mouthwash.1 }}
                        </div>
                    </div>
                </div>
                <div class="form-grid !grid-cols-3">
                    <div class="field">
                        <label class='yes_no'for="{{ form.face_cream.id_for_label }}">Face Cream:</label>
                        <div class="input">
                            {{ form.face_cream.0 }}
                            {{ form.face_cream.1 }}
                        </div>
                    </div>
                    <div class="field">
                        <label class='yes_no'for="{{ form.perfume_cologne.id_for_label }}">Perfume / Cologne:</label>
                        <div class="input input-list">
                            {{ form.perfume_cologne.0 }}
                            {{ form.perfume_cologne.1 }}
                        </div>
                    </div>
                    <div class="field">
                        <label class='yes_no'for="{{ form.deodorant.id_for_label }}">Deodorant:</label>
                        <div class="input input-list">
                            {{ form.deodorant.0 }}
                            {{ form.deodorant.1 }}
                        </div>
                    </div>
                </div>
                <div class="form-grid !grid-cols-3">
                    <div class="field">
                        <label class='yes_no'for="{{ form.smoke_exposure.id_for_label }}">Smoke Exposure:</label>
                        <div class="input input-list">
                            {{ form.smoke_exposure.0 }}
                            {{ form.smoke_exposure.1 }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label-class" for="id_smoke_exposure_type">Smoke Exposure Type:</label>
                        <div class="input">
                            {{ form.smoke_exposure_type }}
                        </div>
                    </div>
                    <div class="field">
                        <label class='yes_no' for="id_pneumonia">Pneumonia:</label>
                        <div class="input input-list">
                            {{ form.pneumonia.0 }}
                            {{ form.pneumonia.1 }}
                        </div>
                    </div>
                </div>
                <div class="form-grid !grid-cols-4">
                    <div class="field">
                        <label class='yes_no' for="id_inhaled_medication">Inhaled Medication:</label>
                        <div class="input input-list">
                            {{ form.inhaled_medication.0 }}
                            {{ form.inhaled_medication.1 }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label-class" for="id_inhaled_medication_name">Inhaled Medication Name:</label>
                        <div class="input">
                            {{ form.inhaled_medication_name }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label-class" for="id_inhaled_medication_brand">Inhaled Medication Brand:</label>
                        <div class="input">
                            {{ form.inhaled_medication_brand }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label-class" for="id_inhaled_medication_type">Inhaled Medication Type:</label>
                        <div class="input">
                            {{ form.inhaled_medication_type }}
                        </div>
                    </div>
                </div>
                <div class="form-grid !grid-cols-2">
                    <div class="field">
                        <label class='yes_no'for="{{ form.smoke_exposure_time.id_for_label }}">Fuel Car:</label>
                        <div class="input input-list">
                            {{ form.fuel_car.0 }}
                            {{ form.fuel_car.1 }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label-class">Arrival Type:</label>
                        <div class="input">
                            {{ form.arrival_type }}
                        </div>
                    </div>
                </div>
                <div class="form-grid !grid-cols-5">
                    <div class="field">
                        <label class='yes_no' for="id_hrt_menopause">HRT Menopause:</label>
                        <div class="input input-list">
                            {{ form.hrt_menopause.0 }}
                            {{ form.hrt_menopause.1 }}
                        </div>
                    </div>
                    <div class="field">
                        <label for="id_grt_menopause_duration">GRT Menopause Duration (days):</label>
                        <div class="input">
                            {{ form.grt_menopause_duration }}
                        </div>
                    </div>
                    <div class="field">
                        <label class='yes_no' for="id_hrt_menopause">Menopausal:</label>
                        <div class="input input-list">
                            {{ form.menopausal.0 }}
                            {{ form.menopausal.1 }}
                        </div>
                    </div>
                    <div class="field">
                        <label class='yes_no' for="id_birth_control">Birth Control:</label>
                        <div class="input input-list">
                            {{ form.birth_control.0 }}
                            {{ form.birth_control.1 }}
                        </div>
                    </div>
                    <div class="field">
                        <label for="id_birth_control_duration">Birth Control Duration (days):</label>
                        <div class="input">
                            {{ form.birth_control_duration }}
                        </div>
                    </div>
                </div>
            </div>
            
            <h2>Food/Drink</h2>
            <div class="form-grid !grid-cols-4">
                <div class="field">
                    <label class="label-class">{{ form.last_meal.label_tag }}</label>
                    <div class="input">
                        {{ form.last_meal }}
                    </div>
                </div>
                <div class="field">
                    <label class="label-class">{{ form.last_meal_time.label_tag }}</label>
                    <div class="input">
                        {{ form.last_meal_time }}
                    </div>
                </div>
                <div class="field">
                    <label class="label-class">{{ form.last_drink.label_tag }}</label>
                    <div class="input">
                        {{ form.last_drink }}
                    </div>
                </div>
                <div class="field">
                    <label class="label-class">{{ form.last_drink_time.label_tag }}</label>
                    <div class="input">
                        {{ form.last_drink_time }}
                    </div>
                </div>
            </div>        
            <h2>Current Symptoms</h2>
            <div class="form-grid !grid-cols-6">
                <div class="field">
                    <label class='yes_no'for="{{ form.chills.id_for_label }}">Symptoms:</label>
                    <div class="input input-list">
                        {{ form.no_symptoms.0 }}
                        {{ form.no_symptoms.1 }}
                    </div>
                </div>
                <div class="field">
                    <label class='yes_no'for="{{ form.short_of_breath.id_for_label }}">Short of Breath:</label>
                    <div class="input input-list">
                        {{ form.short_of_breath.0 }}
                        {{ form.short_of_breath.1 }}
                    </div>
                </div>
                <div class="field">
                    <label class='yes_no'for="{{ form.fever.id_for_label }}">Fever:</label>
                    <div class="input input-list">
                        {{ form.fever.0 }}
                        {{ form.fever.1 }}
                    </div>
                </div>
                <div class="field">
                    <label class='yes_no'for="{{ form.cough.id_for_label }}">Cough:</label>
                    <div class="input input-list">
                        {{ form.cough.0 }}
                        {{ form.cough.1 }}
                    </div>
                </div>
                <div class="field">
                    <label class='yes_no'for="{{ form.chills.id_for_label }}">Chills:</label>
                    <div class="input input-list">
                        {{ form.cold.0 }}
                        {{ form.cold.1 }}
                    </div>
                </div>
                <div class="field">
                    <label class='yes_no'for="{{ form.chills.id_for_label }}">Halitosis:</label>
                    <div class="input input-list">
                        {{ form.halitosis.0 }}
                        {{ form.halitosis.1 }}
                    </div>
                </div>
            </div>
            
            <h1>ReCIVA</h1>
            <div class="form-grid">
                <div class="field col-span-3">
                    <label class="label-class">RECIVA Mask Type:</label>
                    <div class="input input-list">
                        {{ form.reciva_mouthpiece_type.0 }}
                        {{ form.reciva_mouthpiece_type.1 }}
                    </div>
                </div>
                <div class="field col-span-3">
                    <label class="label-class">{{ form.tennax_number.label_tag }}</label>
                    <div class="input">
                        {{ form.tennax_number }}
                    </div>
                </div>
                <div class="field col-span-3">
                    <label class="label-class">{{ form.casper_flow.label_tag }}</label>
                    <div class="input">
                        {{ form.casper_flow }}
                    </div>
                </div>
                <div class="field col-span-3">
                    <label class="label-class">{{ form.collection_start_time.label_tag }}</label>
                    <div class="input">
                        {{ form.collection_start_time }}
                    </div>
                </div>
                <div class="field col-span-3">
                    <label class="label-class">{{ form.collection_stop_time.label_tag }}</label>
                    <div class="input">
                        {{ form.collection_stop_time }}
                    </div>
                </div>
                <div class="field col-span-3">
                    <label class="label-class">Collection Duration (minutes):</label>
                    <div class="input">
                        {{ form.collection_duration }}
                    </div>
                </div>
                <div class="field col-span-3">
                    <label class="label-class">Breathing Rate (/min)</label>
                    <div class="input">
                        {{ form.breathing_rate }}
                    </div>
                </div>
                <div class="field col-span-3">
                    <label class="label-class" for="id_volume_collected">Volume Collected (L):</label>
                    <div class="input">
                        {{ form.volume_collected }}
                    </div>
                </div>
                <div class="field col-span-3">
                    <label class='yes_no'for="{{ form.aborted.id_for_label }}">Aborted:</label>
                    <div class="input input-list">
                        {{ form.aborted.0 }}
                        {{ form.aborted.1 }}
                    </div>
                </div>
                <div class="field col-span-3">
                    <label class='yes_no'for="{{ form.incomplete.id_for_label }}">Incomplete:</label>
                    <div class="input input-list">
                        {{ form.incomplete.0 }}
                        {{ form.incomplete.1 }}
                    </div>
                </div>
                <div class="field col-span-6">
                    <label class='yes_no'for="{{ form.declined.id_for_label }}">Declined:</label>
                    <div class="input input-list">
                        {{ form.declined.0 }}
                        {{ form.declined.1 }}
                    </div>
                </div>
            </div>
        
            <h2>Room Air (1 L)</h2>
            <div class="form-grid !grid-cols-2 max-w-xl">
                <div class="field">
                    <label class="label-class">{{ form.room_air_tennax.label_tag }}</label>
                    <div class="input">
                        {{ form.room_air_tennax }}                    
                    </div>
                </div>
                <div class="field">
                    <label class="label-class">Room Air Time</label>
                    <div class="input">
                        {{ form.room_air_collection_time }}
                    </div>
                </div>
            </div>
            <h2>Casper Supply Air (2 min)</h2>
            <div class="form-grid !grid-cols-2 max-w-xl">
                <div class="field">
                    <label class="label-class">{{ form.casper_tennax.label_tag }}</label>
                    <div class="input">
                        {{ form.casper_tennax }}
                    </div>
                </div>
                <div class="field">
                    <label class="label-class">Casper Time</label>
                    <div class="input">
                        {{ form.casper_collection_time }}
                    </div>
                </div>
            </div>
            <div class="form-grid mt-8 max-w-3xl">
                <div class="field col-span-full">
                    <div class="input">
                        <label class="label-class">{{ form.notes.label_tag }}</label>
                        <div class="input">{{ form.notes }}</div>
                    </div>
                </div>
            </div>
            <div class="form-footer">
                <button type="submit" class="btn-green">Submit</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}


