IDEAL MAndatory Questionaire part C
<p class="bold-and-large">Part C. Smoking History</p>

    <label for="{{ form.smoked_more_100_cigs.id_for_label }}">1. (a) Have you smoked more than 100 cigarettes in your lifetime?  </label> {{ form.smoked_more_100_cigs }} </br>
    <label for="{{ form.age_regular_smoking.id_for_label }}">(b) How old were you when you started smoking regularly?  </label>{{ form.age_regular_smoking }} </br>
    <label for="{{ form.avg_cig_per_day.id_for_label }}">(c) Average Cigarettes per Day:  </label>{{ form.avg_cig_per_day }} </br>
    <label for="{{ form.stop_smoking.id_for_label }}">(d) Have you stopped smoking cigarettes now?  </label>{{ form.stop_smoking }} </br>
    <label for="{{ form.last_cig_date.id_for_label }}">(e) When did you last smoke cigarettes?  </label>{{ form.last_cig_date }} </br>
    <label for="{{ form.last_cig_date.id_for_label }}">(e) How old were you?  </label>{{ form.last_cig_age }} </br>
    <label for="{{ form.marajuana_use.id_for_label }}">2. Have you ever used or tried marijuana/cannabis or hashish:  </label>{{ form.marajuana_use }} </br>
    <label for="{{ form.marajuana_use_age_1.id_for_label }}">From Age (Years):  </label>{{ form.marajuana_use_age_1 }} </br>
    <label for="{{ form.marajuana_use_age_1_quantity.id_for_label }}">To Age (Years):  </label>{{ form.marajuana_use_to_age_1 }} </br>
    <label for="{{ form.marajuana_use_age_1_quantity.id_for_label }}">Quantity of Use:  </label> {{ form.marajuana_use_age_1_quantity }} </br>
    <label for="{{ form.marajuana_use_age_1_mode.id_for_label }}">Mode of Use:  </label> {{ form.marajuana_use_age_1_mode }} </br>
    <label for="{{ form.marajuana_use_age_1_units.id_for_label }}">Units:  </label>{{ form.marajuana_use_age_1_units }} </br>
    <label for="{{ form.marajuana_use_age_1.id_for_label }}">From Age (Years):  </label>{{ form.marajuana_use_age_2 }} </br>
    <label for="{{ form.marajuana_use_age_1_quantity.id_for_label }}">To Age (Years):  </label>{{ form.marajuana_use_to_age_2 }} </br>
    <label for="{{ form.marajuana_use_age_1_quantity.id_for_label }}">Quantity of Use:  </label>{{ form.marajuana_use_age_2_quantity }} </br>
    <label for="{{ form.marajuana_use_age_1_mode.id_for_label }}">Mode of Use:  </label>{{ form.marajuana_use_age_2_mode }} </br>
    <label for="{{ form.marajuana_use_age_1_units.id_for_label }}">Units:  </label>{{ form.marajuana_use_age_2_units }} </br>
    <label for="{{ form.smoked_pipe.id_for_label }}">3. Have you ever smoked a pipe at least once a week for 1 year or longer? </label> {{ form.smoked_pipe }} </br>
    <label for="{{ form.smoked_pipe_avg_ounces.id_for_label }}">(b) Average Ounces of Pipe Smoking  </label>{{ form.smoked_pipe_avg_ounces }} </br>
    <label for="{{ form.still_smoking_pipe.id_for_label }}">(c) Do you still smoke a pipe now?  </label>{{ form.still_smoking_pipe }} </br>
    <label for="{{ form.still_smoking_pipe_stop_date.id_for_label }}">Stop Date:  </label>{{ form.still_smoking_pipe_stop_date }} </br>
    <label for="{{ form.still_smoking_pipe_stop_age.id_for_label }}">Stop Age:  </label>{{ form.still_smoking_pipe_stop_age }} </br>
    <label for="id_still_smoke_cigars">4. (a) Have you ever smoked cigars at least once a week for 1 year or longer?  </label>{{ form.still_smoke_cigars }} </br>
    <label for="id_still_smoke_cigars_stop_date">Stop Date:  </label>{{ form.still_smoke_cigars_stop_date }} </br>
    <label for="id_still_smoke_cigars_stop_age">Stop Age:  </label>{{ form.still_smoke_cigars_stop_age }} </br>
    <label for="id_chewing_tobacco">5. (a) Have you ever used chewing tobacco?  </label>{{ form.chewing_tobacco }} </br>
    <label for="id_chewing_tobacco_age">Chewing Tobacco Starting Age:  </label>{{ form.chewing_tobacco_age }} </br>
    <label for="id_chewing_tobacco_years">Chewing Tobacco Total Years:  </label>{{ form.chewing_tobacco_years }} </br>
    <label for="id_snuff">(b) Have you ever used Snuff?  </label>{{ form.snuff }} </br>
    <label for="id_snuff_age">Snuff Starting Age:  </label>{{ form.snuff_age }} </br>
    <label for="id_snuff_years">Snuff Total Years:  </label>{{ form.snuff_years }} </br>
    <label for="id_vape">6. (a) Have you ever vaped at least once a week for 1 year or longer?  </label>{{ form.vape }} </br>
    <label for="id_vape_num_times">(b) Number of Times/Week:  </label>{{ form.vape_num_times }} </br>
    <label for="id_vape_start_date">Vape Start Date:  </label>{{ form.vape_start_date }} </br>
    <label for="id_vape_start_age">Vape Start Age:  </label>{{ form.vape_start_age }} </br>
    <label for="id_still_vape">(d) Do you still vape now?  </label>{{ form.still_vape }} </br>
    <label for="id_vape_stop_date">Vape Stop Date:  </label>{{ form.vape_stop_date }} </br>
    <label for="id_still_vape_stop_age">Still Vape Stop Age:  </label> {{ form.still_vape_stop_age }} </br>
    <label for="id_vape_flavor">(e) What flavor of vape do you use most often?  </label>{{ form.vape_flavor }} </br>
    <label for="id_cigs_waking_up">7. (a) Cigarettes upon Waking Up:  </label> {{ form.cigs_waking_up }} </br>
    <label for="id_smoke_refrain">(b) Difficult to refrain from smoking in places where it is forbidden?  </label> {{ form.smoke_refrain }} </br>
    <label for="id_cig_giveup">(c)	Which cigarette would you hate to give up?  </label>{{ form.cig_giveup }} </br>
    <label for="id_smoke_morning">(d) Do you smoke more frequently in the morning?  </label>{{ form.smoke_morning }} </br>
    <label for="id_smoke_sick">(e) Do you smoke even if you are sick in bed most of the day?  </label>{{ form.smoke_sick }} </br>
    <label for="id_quit_smoking">(f) Have you ever tried to quit smoking?  </label> {{ form.quit_smoking}} </br>
    <label for="id_quit_smoking_times">How many times?  </label>{{ form.quit_smoking_times }} </br>

